/* forms */
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 10%;
}
.form-container {
  display: flex;
  flex-direction: column;
  width: 32rem;
  padding: 2rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  list-style-type: none;
}
.form-container li {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.form-container li > img {
  width: 30%;
}

.form-container li > select {
  padding: 10px;
  border-radius: 5px;
}

input {
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
}

form.search-product-bar {
  margin: 3%;
}



